# root
.idea
.env
.DS_Store
__pycache__

venv
scraps.py
features.txt
notes.txt

# project
project_files/src/weather_reports_etl/config/conf.ini
project_files/job_automation/airflow.cfg
project_files/job_automation/logs
project_files/logs
project_files/src/weather_reports_etl/log


# docker
Docker/airflow/config/airflow.cfg
Docker/airflow/scripts/entrypoint.sh
Docker/weather_db/scripts/sql/scraps.sql

